<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Login Page</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <style media="screen">
        *,
        *:before,
        *:after {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #080710;
        }

        .background {
            width: 430px;
            height: 520px;
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
        }

        .background .shape {
            height: 200px;
            width: 200px;
            position: absolute;
            border-radius: 50%;
        }

        .shape:first-child {
            background: linear-gradient(#1845ad,
                    #23a2f6);
            left: -80px;
            top: -80px;
        }

        .shape:last-child {
            background: linear-gradient(to right,
                    #ff512f,
                    #f09819);
            right: -30px;
            bottom: -80px;
        }

        .form {
            height: 580px;
            width: 400px;
            background-color: rgba(255, 255, 255, 0.13);
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            border: 2px solid rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
            padding: 50px 35px;
        }

        .form * {
            font-family: 'Poppins', sans-serif;
            color: #ffffff;
            letter-spacing: 0.5px;
            outline: none;
            border: none;
        }

        .form h3 {
            font-size: 32px;
            font-weight: 500;
            line-height: 42px;
            text-align: center;
        }

        label {
            display: block;
            margin-top: 30px;
            font-size: 16px;
            font-weight: 500;
        }

        input {
            display: block;
            height: 50px;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.07);
            border-radius: 3px;
            padding: 0 10px;
            margin-top: 8px;
            font-size: 14px;
            font-weight: 300;
        }

        ::placeholder {
            color: #e5e5e5;
        }

        .button1 {
            margin-top: 50px;
            width: 100%;
            background-color: #ffffff;
            color: #080710;
            padding: 15px 0;
            font-size: 18px;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
        }

        .button2 {
            margin-top: 20px;
            width: 100%;
            background-color: #ffffff;
            color: #080710;
            padding: 15px 0;
            font-size: 18px;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
        }

        .banner {
            position: absolute;
            z-index: 9999;
            padding: .75rem 1.25rem;
            margin-bottom: 1rem;
            border: 1px solid transparent;
            border-radius: .25rem;
            display: none;
        }

        .banner.active {
            display: block;
        }

        .banner-bottom {
            left: 0;
            right: 0;
            bottom: 10px;
        }

        .banner-top {
            left: 0;
            right: 0;
            top: 10px;
        }

        .banner-right {
            right: 10px;
            bottom: 10%;
            min-height: 10vh;
        }

        .banner-left {
            left: 10px;
            bottom: 10%;
            min-height: 10vh;
        }

        .alert-primary {
            color: #004085;
            background-color: #cce5ff;
            border-color: #b8daff;
        }

        .banner-close {
            position: absolute;
            right: 1.5%;
        }

        .banner-close:after {
            position: absolute;
            right: 0;
            top: 50%;
            content: 'X';
            color: #69f;
        }
    </style>
</head>

<body onload=check()>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div class="form">
        <h3>Login Here</h3>
        <form class="login" action="/login" method="post">
            <label>User ID</label>
            <input type="number" placeholder="Library ID" name="username" required>
            <label>Password</label>
            <input type="password" placeholder="Password" name="password" required>
            <% if(typeof incorrect !=='undefined' ){%>
                <b style=" color: #ff512f;" align="center">Incorrect User_ID/Password</b>
                <style>
                    .form {
                        height: 625px;
                    }
                </style>
                <%}%>
                    <button class="button1" type="submit">Log In</button>
        </form>
        <p align="center" style="margin-top: 20px;">OR</p>
        <div onClick="location.href='/signup'">
            <button class="button2">Sign Up</button>
        </div>
    </div>


</body>
<script>
    body.onload = check()
    function check() {
        var type;
        var cookie = document.cookie.split(';')
        for (var i = 0; i < cookie.length; i++) {
            var cookiePair = cookie[i].split("=");
            if ("type" == cookiePair[0].trim()) {
                type = decodeURIComponent(cookiePair[1]);
                break;
            }
            if ("new" == cookiePair[0].trim()) {
                new_val = decodeURIComponent(cookiePair[1]);
                alert("Your User ID is " + new_val)
                break;
            }
        }
        if (type === "A" || type === "S") {
            window.location.replace('http://localhost:4000/');
        }
    }
</script>

</html>